.swiper {
  width: 100%;
  height: 100%;

  .swiper-button-prev,
  .swiper-button-next{
    color: #0C0D14;
    opacity: 0.8;

    &:hover{
      background-color: #000000;
      color: #FFFFFF;
      opacity: 1;
    }
    &:after{

    }
  }
  .swiper-slide-link{
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
  }
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.mobile {
  .swiper-button-prev,
  .swiper-button-next{
    display: none;
  }
}