.swiper {
  width: 100%;
  height: 100%;

  .swiper-button-prev,
  .swiper-button-next{
    visibility: hidden;
    color: #0C0D14;
    opacity: 0.8;

    &:hover{
      background-color: #000000;
      color: #FFFFFF;
      opacity: 1;
    }
    &:after{

    }
  }
  &:hover .swiper-button-prev,
  &:hover .swiper-button-next{
    visibility: visible;
  }

  .swiper-slide-link{
    border-radius: 2.4%;
    overflow: hidden;
    width: 100%;

    .hoveredContainer{
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 2.4%;

      & > svg {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
      }
    }
    .buttonContainer{
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img{
        filter: blur(15px);
        //filter: invert(100%);
        //filter: brightness(100%);
        //filter: contrast(100%);
        //filter: saturate(100%);
        //filter: hue-rotate(180deg);
        //filter: drop-shadow(5px 5px 5px black);
      }
      span{
        position: absolute;
        bottom: 30%;
        z-index: 2;
      }
      .MuiButton-root{
        position: absolute;
        bottom: 8%;
        z-index: 2;
        width: 70%;
        border-radius: 2vw;
        border: none;
        padding: 5%;
      }
    }
    .hoverContainer{
      position: absolute;
      top: 12%;
      left: 50%;
      z-index: 2;
      width: 45%;
      transform: translate(-50%, 0%);
      border-radius: 10px;
      overflow: hidden;
    }
  }
  .swiper-button-prev:after,
  .swiper-button-next:after{
    color: #ffffff;
    transform: scale(0.7);
  }

  .swiper-collection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
  }
  .swiper-button-prev{
    background-color: rgba(0,0,0,.7);
    height: inherit;
    top: calc(var(--swiper-navigation-size)/2);
    left: 0;
  }
  .swiper-button-next{
    background-color: rgba(0,0,0,.7);
    height: inherit;
    top: calc(var(--swiper-navigation-size)/2);
    right: 0;
  }

}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.mobile {
  .swiper-button-prev,
  .swiper-button-next{
    display: none;
  }
}