.search_page {

  .page_title {
    text-align: center;

    .title_container {
      padding: 32px 32px 4px;
    }

    .body_container {
      padding: 8px 32px;
      margin-bottom: 8px;
    }
  }

  .page_search{
    input{
      background-color: #e5e6ee;
      border-right-color: #d9d9d9;
      border-radius: 8px;
      color: #878a9e;
    }
    .ant-input-group-addon{
      button{
        background-color: #e5e6ee;
      }
    }
  }

  .page_body{
    margin-top: 30px;

    .page_items{

    }
  }
}