.testgrid{
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(9, 180px);
  grid-template-rows: repeat(9, 180px);
  grid-template-areas:
    'info_align info_container info_container info_container info_container info_container info_container info_banner info_banner'
    'info_align info_container info_container info_container info_container info_container info_container info_banner info_banner'
    'info_align info_container info_container info_container info_container info_container info_container info_banner info_banner'
    'info_align info_container info_container info_container info_container info_container info_container info_banner info_banner'
    'info_align info_recommend info_recommend info_recommend info_recommend info_recommend info_recommend info_banner info_banner'
    'info_align info_recommend info_recommend info_recommend info_recommend info_recommend info_recommend info_banner info_banner'
    'info_align info_recommend info_recommend info_recommend info_recommend info_recommend info_recommend info_banner info_banner';

  div{
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: #000000;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px dashed #000; /* 虚线边框样式 */
    }
  }

  div.info_align{
    grid-area: info_align;
  }
  div.info_container{
    grid-area: info_container;
  }
  div.info_recommend{
    grid-area: info_recommend;
  }
  div.info_banner{
    grid-area: info_banner;
  }

}